extends ../layout/tpl-base

include ../components/crumbs/crumbs
include ../components/product-data/product-data-2
include ../components/product-desc/product-desc-2
include ../components/live-support/live-support
include ../components/sidebar/sidebar

block content
  .container
    +crumbs({
      links: [
        {href: "/", text: "Home"},
        {href: "/", text: "Category"},
      ],
      current: "Generik Viagra"
    })

    +e.MAIN.main--product
      +e.SECTION.block
        +product-data-2({})

      +e.SECTION.content
        +e.ASIDE.sidebar.page__block.d-none.d-lg-block
          +sidebar(dataCategory)

        +e.SECTION.block--content
          +product-desc-2()

      +live-support({cls: "d-lg-none"})