<head>
  <meta charset="utf-8"/>
  
  @@if (author) {
    <meta content="@@author" name="author"/>
  }
  
  @@if (description) {
    <meta content="description" name="description"/>
  }
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
  
  <link rel="preconnect" href="https://fonts.googleapis.com"/>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;700&display=swap" rel="stylesheet"/>
  
  <title>@@title</title>
  
  @@if (hasCssLibs) {
    <link rel="stylesheet" href="css/libs.min.css"/>
  }
  
  <link rel="stylesheet" href="css/main.css"/>
</head>