<!-- START .search -->
<div class="search" data-search>
  <button class="search__mob-open d-lg-none" data-search-show>
    <i class="icon-search"></i>
    <span>Search</span>
  </button>

  <div class="search__body" data-search-block>
    <div class="search__body-inner">
      <div class="search__field">
        <button class="search__submit d-none d-lg-block" type="submit" data-search-submit>
          <i class="icon-search"></i>
        </button>
        <button class="search__clear d-lg-none" type="button" data-search-clear>
          <i class="icon-close-x"></i>
        </button>
        <form data-search-form>
          <input type="text" class="search__input" placeholder="Search...">
        </form>
      </div>
  
      <!-- <ul class="search__list">
        <li class="search__list-item">
          <img src="img/search-0.jpg" alt="Viagra Generic" class="search__list-item-img">
          <span class="search__list-item-title">Viagra Generic</span>
          <span class="search__list-item-price">$0.47</span>
        </li>
        <li class="search__list-item">
          <img src="img/search-1.jpg" alt="Viagra Brand" class="search__list-item-img">
          <span class="search__list-item-title">Viagra Brand</span>
          <span class="search__list-item-price">$2.99</span>
        </li>
        <li class="search__list-item">
          <img src="img/search-2.jpg" alt="Viagra Professional" class="search__list-item-img">
          <span class="search__list-item-title">Viagra Professional</span>
          <span class="search__list-item-price">$1.17</span>
        </li>
        <li class="search__list-item">
          <img src="img/search-3.jpg" alt="Viagra Super Active" class="search__list-item-img">
          <span class="search__list-item-title">​Viagra Super Active</span>
          <span class="search__list-item-price">$0.98</span>
        </li>
      </ul> -->
    </div>
  </div>
</div>
<!-- END .search -->

    