<div class="header__body">
  <div class="container">
    <div class="header__body-inner">
      <a href="/" class="header__logo d-none d-lg-block">
        <img src="img/logo.png" alt="Logo">
      </a>
      <div class="header__item header__item--category">
        @@include("../../components/categories/categories.html")
      </div>
      <div class="header__item header__item--search">
        @@include("../../components/search/search.html")
      </div>
      <div class="header__item header__item--cart">
        @@include("../../components/cart/cart.html")
      </div>
    </div>
  </div>
</div>