// COLORS
$c_bgBody: #F3F4F5;
$c_text: #202225;
$c_brand: #ffe151;
$c_link: tomato;
// $c_accent: #F95109;

// Font-family
$ff_base: "Lato", sans-serif;
$ff_second: "Helvetica", sans-serif;
$ff_third: "Open Sans", sans-serif;

// Other
$anim: ease-in-out 300ms;

// Brakepoints (min-width)
$xs: "480px";
$sm: "576px";
$md: "768px";
$lg: "992px";
$xl: "1200px";
$xxl: "1400px";
$_xs: "479px";
$_sm: "575px";
$_md: "767px";
$_lg: "991px";
$_xl: "1199px";
$_xxl: "1399px";
