include ../tabs/tabs

mixin product-desc(data)

  -
    const dataTabs = {
      cmp: "tbl-product",
      cls: "d-none d-lg-block",
      ctrl: [
        {
          value: "200",
          data: {
            rows: [
              {
                package: "180 pillen",
                bonuses: ["air", "gift"],
                price: "129.47",
                best: "0.27",
              },
              {
                package: "120 pillen",
                bonuses: ["gift"],
                price: "39.47",
                best: "0.27",
              },
              {
                package: "90 pillen",
                price: "39.47",
                best: "0.27",
              },
              {
                package: "60 pillen",
                price: "39.47",
                best: "0.27",
              },
              {
                package: "30 pillen",
                price: "39.47",
                best: "0.27",
              },
            ]
          },
        },
        {
          value: "150",
          data: {
            rows: [
              {
                package: "190 pillen",
                bonuses: ["air", "gift"],
                price: "129.47",
                best: "0.27",
              },
              {
                package: "120 pillen",
                bonuses: ["gift"],
                price: "39.47",
                best: "0.27",
              },
              {
                package: "90 pillen",
                price: "39.47",
                best: "0.27",
              },
              {
                package: "60 pillen",
                price: "39.47",
                best: "0.27",
              },
              {
                package: "30 pillen",
                price: "39.47",
                best: "0.27",
              },
            ]
          },
        },
        {
          value: "100",
          data: {
            rows: [
              {
                package: "200 pillen",
                bonuses: ["air", "gift"],
                price: "129.47",
                best: "0.27",
              },
              {
                package: "120 pillen",
                bonuses: ["gift"],
                price: "39.47",
                best: "0.27",
              },
              {
                package: "90 pillen",
                price: "39.47",
                best: "0.27",
              },
              {
                package: "60 pillen",
                price: "39.47",
                best: "0.27",
              },
              {
                package: "30 pillen",
                price: "39.47",
                best: "0.27",
              },
            ]
          },
        },
        {
          value: "50",
          data: {
            rows: [
              {
                package: "210 pillen",
                bonuses: ["air", "gift"],
                price: "129.47",
                best: "0.27",
              },
              {
                package: "120 pillen",
                bonuses: ["gift"],
                price: "39.47",
                best: "0.27",
              },
              {
                package: "90 pillen",
                price: "39.47",
                best: "0.27",
              },
              {
                package: "60 pillen",
                price: "39.47",
                best: "0.27",
              },
              {
                package: "30 pillen",
                price: "39.47",
                best: "0.27",
              },
            ]
          },
        },
      ]
    };

  // START .product-desc
  +b.DIV.product-desc
    +tabs(dataTabs)

    +e.H2.title Sildenafil Citrate tablet

    +e.DIV.item
      +e.H3.subtitle What is this medicine?

      p SILDENAFIL CITRATE is used to treat erection problems in men.

    +e.DIV.item
      +e.H3.subtitle What should I tell my health care provider before I take this medicine?

      p They need to know if you have any of these conditions:

      ul.list-custom
        li eye or vision problems, including a rare inherited eye diseasecalled retinitis pigmentosa
        li Take this medicine by mouth with a glass of water. The dose is usually taken 1 hour before sexual activity
        li liver disease
    
    +e.DIV.item
      +e.H3.subtitle What is this medicine?

      p
        strong Generieke Viagra
        |
        | — is de eerste en de meest bekende remedie voor mannelijke erectie.
        | De werkzame stof wordt Sildenafil genoemd. Het biedt verbeterde
        | doorbloeding aan mannelijke genitale gebied. Wanneer de holle
        | lichaam ontspannen is, wordt het gevuld met bloed, waarbij een
        | erectie verschijnt. Dit is voldoende voor het uitvoeren van een
        | daad van intimiteit. Sildenafil heeft geen effect op de hersenen.
        | Een erectie zal tot stand komen bij een natuurlijke seksuele
        | opwinding.
  // END .product-desc